.container {
    border: 5px solid green;
}

.container-fluid {
    border: 5px solid red;
}

.row {
    border: 10px solid magenta;
}

.box-1 {
    min-height: 100px;
    background: yellow;
}

.box-2 {
    min-height: 100px;
    background: orange;
}

.box-3 {
    min-height: 100px;
    background: pink;
}

.box-4 {
    min-height: 100px;
    background: blue;
}